__pycache__
.venv*
models
leaderboards
logs
top_models
plots
catboost*
visualization/out
output
out-*
flaml/
autogluon/
/data/preprocessed/*/*mordred_desc*
/data/preprocessed/*/*morgan_fp*
/data/preprocessed/*/out_of_domain.npy
