__pycache__
.venv*

top_models/*
!top_models/vnn
!top_models/bhsai_automl_pipeline

visualization/*
visualization/out

out-*
flaml/
autogluon/
/data/preprocessed/*/*mordred_desc*
/data/preprocessed/*/*morgan_fp*
/data/preprocessed/*/out_of_domain.npy

output/*
!output/vnn
!output/bhsai_automl_pipeline

output/bhsai_automl_pipeline/*/*/*
!output/bhsai_automl_pipeline/*/*/*_metadata.json
!output/bhsai_automl_pipeline/*/*/*_metrics.csv
!output/bhsai_automl_pipeline/*/*/*_model.pkl
!output/bhsai_automl_pipeline/*/*/*_scaler.pkl
!output/bhsai_automl_pipeline/*/cv_results/*

descriptor_cache
