__pycache__
.venv*

top_models/*
!top_models/vnn
!top_models/autoadmet_pipeline
!top_models/applicability_domain
!top_models/autogluon
!top_models/flaml

out-*
/data/preprocessed/*/*mordred_desc*
/data/preprocessed/*/*morgan_fp*
/data/preprocessed/*/out_of_domain.npy

output/*
!output/vnn
!output/autoadmet_pipeline

output/autoadmet_pipeline/*/*/*
!output/autoadmet_pipeline/*/*/*_metadata.json
!output/autoadmet_pipeline/*/*/*_metrics.csv
!output/autoadmet_pipeline/*/*/*_model.pkl
!output/autoadmet_pipeline/*/*/*_scaler.pkl
!output/autoadmet_pipeline/*/cv_results/*

descriptor_cache
